<link rel="stylesheet" href="/public/css/about-us.css">


<div class="about-section">
    <div class="background">
        <div class="navbar">
            <img src="/public/src/Logo.png" class="logo">
            <nav>
                <ul>

                    <li><a href="/">Home</a></li>

                    <li><a href="/aboutus">About Us</a></li>

                    <li><a href="/form">Form</a></li>

                    <li><a href="/main">Watch</a></li>

                </ul>
            </nav>
        </div>
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/public/src/ari1.jpg" alt="Kyla" style="width:100%; height: 70%">
            <div class="container">
                <h2>Kyla <3</h2>
                <p class="title"> role </p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/public/src/ar2.jpg" alt="chris" style="width:100%; height: 70%">
            <div class="container">
                <h2>Chris ;)</h2>
                <p class="title"> Role: Front-end Developer </p>
                <p> Hi! I am Christian, I love animal crossing and plants! I am a 3rd year BCS student with a BA in psychology. </p>
                <p>chrisl97@students.ubc.ca</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/public/src/ari3.jpg" alt="Arjun" style="width:100%">
            <div class="container">
                <h2> Arjun ;P </h2>
                <p class="title">role</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
    </div>
</div>