<link rel="stylesheet" href="/public/css/about-us.css">
<link rel="stylesheet" href="/public/css/mainpage.css">
<head>
    
</head>
<body>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/public/src/ari1.jpg" alt="Kyla" style="width:100%; height: 70%">
            <div class="container">
                <h2>Kyla <3</h2>
                <p class="title"> role </p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/public/src/ar2.jpg" alt="chris" style="width:100%; height: 70%">
            <div class="container">
                <h2>Chris ;)</h2>
                <p class="title"> Role: Front-end Developer </p>
                <p> Hi! I am Christian, I love animal crossing and plants! I am a 3rd year BCS student with a BA in psychology. </p>
                <p>chrisl97@students.ubc.ca</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/public/src/ari3.jpg" alt="Arjun" style="width:100%">
            <div class="container">
                <h2> Arjun ;P </h2>
                <p class="title">Role: Full Stack Developer</p>
                <p>Hello! I'm Arjun! I'm a huge fan of video games, R&B, and Ariana Grande. I believe that RPGs are the pinacle of gaming. I'm currently in my first year in the BCS program, 
                    and I have a BSc in Biology. For this project, my main responsibilites were on setting up the Express server and Node dependencies. I also initilialized and maintained the MongoDB 
                database, as well as implementing all the functionality behind it. It was my first time getting my hands dirty with MongoDB and it was a lot of fun!!! </p>
                <p>arjundh@student.ubc.ca</p>
                <p><button class="button">Contact</button></p>
            </div>

        </div>
    </div>
</div>
</body>