<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post a Show</title>
    <link rel="stylesheet" type="text/css" href = "/public/css/cute.css">
    <link rel="stylesheet" type="text/css" href = "/public/css/mainpage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<nav class="navbar transparent navbar-inverse navbar-fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img id="navimg" src="/public/src/Logo.png" class="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/form">Post</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/main">Watch</a>
        </li>
      </ul>

    </div>
  </nav>

<body>
<div class = "container">
    <div class="form-style-3 child" >

        <form action="/create_post" method="POST">
            <fieldset><legend>Wanna Watch</legend>
                <label><span>Name<span class="required">*</span></span><input type="text" class="input-field" name="name" value="<%= name %>" /></label>
                <label><span>Discord ID<span class="required">*</span></span><input type="text" class="input-field" name="discord" value="" /></label>
                <label><span>What you are watching <span class="required">*</span></span><input type="text" class="input-field" name="title" value="" /></label>
            </fieldset>
            <fieldset><legend>Comments</legend>
                <label><span> What do you think of the show so far <span class="required">*</span></span><textarea name="comment" class="textarea-field"></textarea></label>
                <label><span> </span><input type="submit" value="Submit" /></label>
            </fieldset>
        </form>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>