<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href = "/public/css/cute.css">
</head>
<body>

<div class="form-style-3" >

    <form action="/create_post" method="POST">
        <fieldset><legend>Wanna Watch</legend>
            <label><span>Name<span class="required">*</span></span><input type="text" class="input-field" name="name" value="<%= name %>" /></label>
            <label><span>What you are watching <span class="required">*</span></span><input type="text" class="input-field" name="title" value="" /></label>
        </fieldset>
        <fieldset><legend>Comments</legend>
            <label><span> What do you think of the show so far <span class="required">*</span></span><textarea name="comment" class="textarea-field"></textarea></label>
            <label><span> </span><input type="submit" value="Submit" /></label>
        </fieldset>
    </form>
</div>

</body>
</html>