<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="660008335782-tho10n8ib3is46f1rkh09j62afhdtakf.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <title>Wanna Watch?</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<header id="showcase">
    <div class="container">
        <div class="navbar">
            <img src="/public/src/Logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutus">Something</a></li>
                    <li><a href="">Something</a></li>
                </ul>
            </nav>
        </div>
        <h1> Welcome to Wanna Watch! </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam at commodi dolor earum excepturi explicabo,
            facilis illo ipsum laudantium libero maxime modi nulla possimus quae, sit ut voluptas voluptatum.</p>
    </div>
    
    <div class="container">     
        <div id="my-signin2"></div>
    </div>

</header>
<body>


    <script>
        function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
        function onFailure(error) {
        console.log(error);
    }
        function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</body>
</html>