<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="660008335782-tho10n8ib3is46f1rkh09j62afhdtakf.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <title>Wanna Watch?</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<header id="showcase">
    <div class="background">
        <div class="feature-image">
            <img src="public/src/circle-cropped.png" class="feature-image">
        </div>
        <div class="navbar">
            <img src="/public/src/Logo.png" class="logo">
            <nav>
                <ul>

                    <li><a href="/">Home</a></li>

                    <li><a href="/aboutus">About Us</a></li>

                    <li><a href="/form">Form</a></li>

                    <li><a href="/main">Watch</a></li>

                </ul>
            </nav>
        </div>
        <div class="content">
            <h1> Welcome to <br> Wanna Watch!</h1>
            <p> Share what you are watching with your friends!</p>
        </div>
        <div id="my-signin2"></div>
    </div>


</header>
<body>


    <script>
        function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
        function onFailure(error) {
        console.log(error);
    }
        function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</body>
</html>