*{
    margin: 0;
    padding: 0;
}

.background {
    background: url("/public/src/background.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.container {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    z-index: -2;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 40px;
    width: 120px;
    cursor: pointer;
}


#my-signin2{
    margin-top: 220px;
    margin-left: 70px;
    position: absolute;
}

.content{
    z-index: +1;
    position: absolute;
}

nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    margin: 0px 20px;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    margin-left: 70px;
    color: #fbf4ff;
    font-family: Arial, "Helvetica Neue",
    Helvetica, sans-serif;
    z-index: 1;

}

.content p{
    font-size: 20px;
    margin-left: 70px;
    color: #fbf4ff;
    font-family: Arial, "Helvetica Neue",
    Helvetica, sans-serif;
}


body {
    margin:0;
    font-family: Arial, "Helvetica Neue",
    Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

.feature-image{
    height: 80%;
    width: auto;
    position: fixed;
    bottom: 0;
    right: 160px;
    margin-bottom: 30px;
}